.logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  &__text {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
  }
}