@import '../../../assets/css/variables.scss';

.dropdown {
  position: relative;  
  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;

    border: 1px solid $borderColor;
    border-radius: 4px;
  }
}