@import '../../../assets/css/variables.scss';

.dropdown {
  position: relative;  
  transition: background-color .3s;
  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;

    border: 1px solid $borderColor;
    border-radius: 4px;
  }
  &:hover {
    background-color: #eee;
  }
  &.active {
    background-color: #eee;
  }
}