.auth-form {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}
.auth-form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  background-color: #f0f2f5;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}
.auth-form__input::placeholder {
  font-size: 12px;
}
.auth-form__button {
  width: 100%;
  padding: 10px;

  font-size: 18px;
  font-weight: 600;
  color: #fff;
  
  background-color: #1877f2;
  border-radius: 4px;
  transition: background-color .3s;
}
.auth-form__button:hover {
  background-color: #1764c7;
}