html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.25;
}
.container {
  width: 100%;
  max-width: 1200px;

  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}