.main {
  &-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f0f2f5;
  }
  &-content {
    flex: 1 0 auto;
  }
}
.content-layout {
  display: flex;
  margin-top: 15px;
}