.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.auth-transition {
  padding:25px 0;
  margin-top: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}
.auth-link {
  font-weight: 600;
  color: #1877f2;
  text-decoration: none;
}
.auth-link:hover {
  color: #1877f2;
}